<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Adicionar Utilizador</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="signupForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item>
        <ion-select aria-label="Categoria" placeholder="Selecione a categoria do utilizador" (ionChange)="handleChange($event)" formControlName="categoria">
          <ion-select-option *ngFor="let allcategory of categoriaUser" value="{{allcategory.id}}">{{allcategory.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label color="success" id="label" *ngFor="let log of logs">{{ log }}</ion-label>

      <ion-item class="ion-margin-vertical"> 
        <ion-icon 
          name="person-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input label="Nome: "
          formControlName="username" 
          placeholder="Nome do Utilizador">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched">
        <p class="error">*Escreva nome do utilizador</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input label="Email: " 
          formControlName="email" 
          placeholder="Escreva email valido.">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched">
        <p class="error">*Por favor, escreva um email valido!</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input label="Password: "
          formControlName="password" 
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Escreva palavra passe.">
        </ion-input>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">
      <p 
        class="error" 
        *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.errors?.['required']">

        *Por favor escreva palavra-passe valida!
      </p>
      <p 
        class="error" 
        *ngIf="signupForm.get('password')?.dirty">
        *Password must be of atleast 8 characters
      </p>
    </ion-text>
      <ion-button color="primary" shape="round" (click)="onSubmit()">Registrar</ion-button>
      <ion-button fill="clear" *ngIf="isLoading">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-button>
    </ion-list>
  </form>
</ion-content>